.clock {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-weight: 600;
  margin: 0;
  gap: 20px;
}


.date-city {
  display: flex;
  flex-direction: column;
}

.time {
  font-size: 60px;
  line-height: 64px;
  font-weight: 700;
}

.city {
  font-size: 16px;
  font-weight: 600;
}

.date {
  font-size: 18px;
  font-weight: 500;
}
